project:
  type: website
  render:
    - index.qmd
    - Courses/Bash/tp.qmd
    - Courses/CI/tp.qmd
    - Courses/Docs/tp.qmd
    - Courses/Git/tp.qmd
    - Courses/IDE/tp.qmd
    - Courses/Pandas/pandas_titanic.qmd
    - Courses/Pandas/pandas_airparif.qmd
    - Courses/Pandas/pandas_bikes.qmd
    - Courses/Python-modules/tp.qmd
    - Courses/ScipyNumpy/tp.qmd
    - Courses/Numpy/tp.qmd
    - Courses/Test/tp.qmd
    - Courses/TimeMemory/tp.qmd
    - Courses/Venv/tp.qmd
    - Courses/ClassesExceptions/tp.qmd
    - Projects/README.qmd
    - Projects/2021-2022/README.qmd
    - Projects/2022-2023/README.qmd
    - Projects/2023-2024/README.qmd
    - Projects/README.qmd
    - Bonus/README.qmd
website:
  back-to-top-navigation: true
  page-navigation: true # true not working in website
  title: "HAX712X: Software development for data sciences"
  site-url: https://josephsalmon.github.io/HAX712X/
  repo-url: https://github.com/josephsalmon/HAX712X
  repo-actions: [source, issue]
  # sidebar:
  # left:
  #   contents:
  #     - section: "Overview"
  #       contents:
  #         - href: index.qmd
  #     - section: "Courses"
  # contents:
  #   - href: Courses/Bash/tp.qmd
  #   - href: Courses/Git/tp.qmd
  #   - href: Courses/IDE/tp.qmd
  #   - href: Courses/Venv/tp.qmd
  #   - href: Courses/CI/tp.qmd
  #   - href: Courses/Docs/tp.qmd
  #   - href: Courses/Python-modules/tp.qmd
  #   - href: Courses/ClassesExceptions/tp.qmd
  #   - href: Courses/Test/tp.qmd
  #   - href: Courses/Pandas/tp.qmd
  #   - href: Courses/Numpy/tp.qmd
  #   - href: Courses/ScipyNumpy/tp.qmd
  #   - href: Courses/TimeMemory/tp.qmd
  # menu: false
  navbar:
    title: "Software dev. for data sciences"
    background: primary
    search: true
    tools:
      - icon: bicycle
        href: https://moodle.umontpellier.fr/course/view.php?id=22454
        text: Moodle
      - icon: github
        href: https://github.com/josephsalmon/HAX712X
        text: GitHub
    left:
      # - text: "Overview"
      #   href: index.qmd
      - sidebar:general
      - sidebar:python
      - sidebar:grading
  sidebar:
    - id: general
      title: "General tools"
      collapse-level: 3
      contents:
        - Courses/Bash/tp.qmd
        - Courses/Git/tp.qmd
        - Courses/IDE/tp.qmd
        - Courses/CI/tp.qmd
        - Courses/Docs/tp.qmd
    - id: python
      title: "Python"
      collapse-level: 3
      contents:
        - section: "Dev. Tools"
          contents:
            - Courses/Venv/tp.qmd
            - Courses/ClassesExceptions/tp.qmd
            - Courses/Python-modules/tp.qmd
            - Courses/Test/tp.qmd
        - section: "Scientific Python"
          contents:
            - Courses/Numpy/tp.qmd
            - Courses/ScipyNumpy/tp.qmd
            - Courses/TimeMemory/tp.qmd
        - section: "Pandas"
          contents:
            - Courses/Pandas/pandas_titanic.qmd
            - Courses/Pandas/pandas_airparif.qmd
            - Courses/Pandas/pandas_bikes.qmd
    - id: grading
      title: "Grading"
      collapse-level: 2
      contents:
        - section: "Project"
          contents:
            - Projects/README.qmd
            - Projects/2023-2024/README.qmd
            - Projects/2022-2023/README.qmd
            - Projects/2021-2022/README.qmd
        - section: "Bonus"
          contents:
            - Bonus/README.qmd
    #   - text: "Projects"
    #     menu:
    #       - text: "Guidelines"
    #         href: Projects/README.qmd
    #       - text: "2023-2024"
    #         href: Projects/2023-2024/README.qmd
    #       - text: "2022-2023"
    #         href: Projects/2022-2023/README.qmd
    #       - text: "2021-2022"
    #         href: Projects/2021-2022/README.qmd
    #   - text: "Bonus"
    #     href: Bonus/README.qmd
    # - text: "Overview"
    #   href: index.qmd
    # - text: "Courses"
    #   menu:
    #     - Courses/Bash/tp.qmd
    #     - Courses/Git/tp.qmd
    #     - Courses/IDE/tp.qmd
    #     - Courses/Venv/tp.qmd
    #     - Courses/CI/tp.qmd
    #     - Courses/Docs/tp.qmd
    #     - text: "---"
    #     - Courses/Python-modules/tp.qmd
    #     - Courses/ClassesExceptions/tp.qmd
    #     - Courses/Test/tp.qmd
    #     - Courses/Pandas/tp.qmd
    #     - Courses/Numpy/tp.qmd
    #     - Courses/ScipyNumpy/tp.qmd
    #     - Courses/TimeMemory/tp.qmd
    # - text: "Projects"
    #   menu:
    #     - text: "Guidelines"
    #       href: Projects/README.qmd
    #     - text: "2023-2024"
    #       href: Projects/2023-2024/README.qmd
    #     - text: "2022-2023"
    #       href: Projects/2022-2023/README.qmd
    #     - text: "2021-2022"
    #       href: Projects/2021-2022/README.qmd
    # - text: "Bonus"
    #   href: Bonus/README.qmd
format:
  html:
    theme:
      spacelab
      # light: spacelab
    css: custom.scss
    # mainfont: Atkinson Hyperlegible
    html-math-method: katex
    toc: true
    number-sections: false
    toc-depth: 3
    code-fold: false
    code-tools:
      toggle: false
      source: false
    code-overflow: wrap
    highlight-style: github
    fig-responsive: true
    fig.align: center
    reference-location: margin
    citation-location: margin
    self-contained: true
    fig-format: svg
