anyio @ file:///croot/anyio_1729121277521/work
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/perseverance-python-buildout/croot/argon2-cffi-bindings_1698877183685/work
asgiref==3.8.1
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
attrs @ file:///croot/attrs_1729089401488/work
Babel @ file:///work/perseverance-python-buildout/croot/babel_1698863996602/work
backcall==0.2.0
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
Bottleneck @ file:///croot/bottleneck_1709069899917/work
branca==0.8.0
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi @ file:///croot/cffi_1726856441404/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chevron==0.14.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
comm @ file:///croot/comm_1709322850197/work
contourpy @ file:///work/perseverance-python-buildout/croot/contourpy_1701756524386/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docopt==0.6.2
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///work/perseverance-python-buildout/croot/python-fastjsonschema_1698846742882/work
fiona==1.10.1
folium==0.14.0
fonttools @ file:///croot/fonttools_1713551344105/work
future==1.0.0
geopandas==0.14.4
h11 @ file:///croot/h11_1706652277403/work
htmltools==0.5.3
httpcore @ file:///croot/httpcore_1706728464539/work
httpx @ file:///croot/httpx_1723474802858/work
idna==3.10
ipykernel @ file:///croot/ipykernel_1728665589812/work
ipyleaflet==0.19.2
ipython==8.12.3
ipywidgets @ file:///croot/ipywidgets_1709574692113/work
jedi @ file:///croot/jedi_1721058342488/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
joblib==1.4.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter @ file:///croot/jupyter_1709837193779/work
jupyter-console @ file:///work/perseverance-python-buildout/croot/jupyter_console_1707343324117/work
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-leaflet==0.19.2
jupyter-lsp @ file:///work/perseverance-python-buildout/croot/jupyter-lsp-meta_1707343107456/work
jupyter_client @ file:///work/perseverance-python-buildout/croot/jupyter_client_1701731788627/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1718827083372/work
jupyter_server_terminals @ file:///work/perseverance-python-buildout/croot/jupyter_server_terminals_1701732095362/work
jupyterlab @ file:///croot/jupyterlab_1725895214311/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1709322880313/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
kiwisolver @ file:///work/perseverance-python-buildout/croot/kiwisolver_1698847502605/work
linkify-it-py==2.0.3
lzstring==1.0.4
mapclassify==2.8.1
markdown-it-py==3.0.0
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
matplotlib==3.9.2
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune @ file:///work/perseverance-python-buildout/croot/mistune_1698895588147/work
mkl-service==2.4.0
mkl_fft @ file:///croot/mkl_fft_1725370245198/work
mkl_random @ file:///croot/mkl_random_1725370241878/work
mpmath==1.3.0
nbclient @ file:///work/perseverance-python-buildout/croot/nbclient_1701731912506/work
nbconvert @ file:///croot/nbconvert_1728049414448/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.3
notebook @ file:///croot/notebook_1727197365392/work
notebook_shim @ file:///work/perseverance-python-buildout/croot/notebook-shim_1707343174853/work
numexpr @ file:///work/perseverance-python-buildout/croot/numexpr_1698871031164/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
osmnx==1.9.4
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging @ file:///croot/packaging_1720101850331/work
pandas @ file:///croot/pandas_1718308974269/work/dist/pandas-2.2.2-cp312-cp312-linux_x86_64.whl#sha256=92c518f7e09edd50b5caa5862636c51d6a29391803f3ada62f68aa52f27d8f92
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare==0.7.5
pillow @ file:///croot/pillow_1721059439630/work
pipreqs==0.5.0
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
plotly @ file:///croot/plotly_1726245554316/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
pooch==1.8.2
prometheus-client @ file:///work/perseverance-python-buildout/croot/prometheus_client_1698865353814/work
prompt-toolkit==3.0.36
psutil @ file:///work/perseverance-python-buildout/croot/psutil_1698863411559/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
pyogrio==0.10.0
pyparsing @ file:///croot/pyparsing_1725041624202/work
pyproj==3.7.0
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///work/perseverance-python-buildout/croot/python-json-logger_1698873656334/work
python-multipart==0.0.12
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qtconsole @ file:///croot/qtconsole_1726836502164/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
questionary==2.0.1
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
requests @ file:///croot/requests_1721410876868/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rpds-py @ file:///work/perseverance-python-buildout/croot/rpds-py_1698982686240/work
scikit-learn==1.5.2
scipy @ file:///croot/scipy_1717521478074/work/dist/scipy-1.13.1-cp312-cp312-linux_x86_64.whl#sha256=a60c1bdf983ee297b25e41830d00cc2af50f00bcb47e55578703fef1594ec56e
seaborn==0.13.2
Send2Trash @ file:///work/perseverance-python-buildout/croot/send2trash_1701732325573/work
setuptools==75.1.0
shapely==2.0.6
shiny==1.1.0
shinylive==0.5.0
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
snakeviz==2.2.0
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.41.0
tenacity @ file:///croot/tenacity_1721222508356/work
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
threadpoolctl==3.5.0
tinycss2 @ file:///work/perseverance-python-buildout/croot/tinycss2_1698875051986/work
tornado @ file:///croot/tornado_1718740109488/work
traitlets @ file:///croot/traitlets_1718227057033/work
traittypes==0.2.1
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
uc-micro-py==1.0.3
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
urllib3 @ file:///croot/urllib3_1727769808118/work
uvicorn==0.32.0
watchfiles==0.24.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets==13.1
wheel==0.44.0
widgetsnbextension @ file:///croot/widgetsnbextension_1709322880396/work
xyzservices==2024.9.0
yarg==0.1.9
