.zoom-image {overflow:hidden}

.zoom-image img {width:100%;height:auto}

.zoom-image img:hover{width:100%;-webkit-transform:scale(10);transform:scale(10);-webkit-transition:1s ease-in-out;transition:1s ease-in-out}

