    figcaption {
    margin: auto;
    text-align: center;
  }



  div.theorem {
    background-position: 1em .5em;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #b1e1fd;
      border-left-width: 1px;
      border-left-color: rgb(177, 225, 253);
    border-left-width: 5px;
    border-left-color: #022e47;
    padding: 2px 4px;
    margin: 1em 0;
    background-color: rgba(3,78,121,.04);
    min-height: 3em;
  }

  div.proposition {
    background-position: 1em .5em;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #b1e1fd;
      border-left-width: 1px;
      border-left-color: rgb(177, 225, 253);
    border-left-width: 5px;
    border-left-color: #022e47;
    padding: 2px 4px;
    margin: 1em 0;
    background-color: rgba(3,78,121,.04);
    min-height: 3em;
  }

  div.corollary  {
    background-position: 1em .5em;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #b1e1fd;
      border-left-width: 1px;
      border-left-color: rgb(177, 225, 253);
    border-left-width: 5px;
    border-left-color: #022e47;
    padding: 2px 4px;
    margin: 1em 0;
    background-color: rgba(3,78,121,.04);
    min-height: 3em;
  }



  div.lemma {
    background-position: 1em .5em;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 1px solid #b1e1fd;
      border-left-width: 1px;
      border-left-color: rgb(177, 225, 253);
    border-left-width: 5px;
    border-left-color: #022e47;
    padding: 2px 4px;
    margin: 1em 0;
    background-color: rgba(3,78,121,.04);
    min-height: 3em;
  }

  div.definition {
    padding: .2em 1em .2em 1em;
    margin: 0 0 1em 0;
    background-position: 1em .5em;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border-radius: .25em;
    border: 1px solid  #b1e1fd;
    background-color: rgba(3,78,121,.04);
    min-height: 3em;
  }





  div.theorem.example {
  padding: .2em 0.2em;
  margin: 0 0 0 0;
  background-position: 1em .5em;
  background-size: 2em auto;
  background-repeat: no-repeat;
  min-height: 3em;
  border: 0px solid  #b1e1fd;
  background-color: rgba(3,78,121,.04);
  }



  /* FOR USING END OF PROOF □ */
  .container {
    width: 100%;
    display: flex;
  }

  .div1, .div2 {
    width: 100%;
    text-align: left;
  }

  .div-remaining {
    flex: 1;
  }


  .caption{
    text-align: center;
  }


.reveal pre.sourceCode code {
  /* height: 500px; */
  max-height: 1000px;
}